/* CSS Document */
*{margin:0px;padding:0px;}
body{ font-family: Arial;font-size:12px; color:#fff;background:url(../images/login8_01.jpg) repeat-x left top;}
ul, ol { list-style: none;} 
img,fieldset{vertical-align:top;border:0;}

address,cite,code,em,th {font-weight:normal; font-style:normal;}
input,button,textarea,select{font:100% Arial,''; vertical-align:middle}

.clear{ clear:both; float:none;}

/*yemian*/

.ym{overflow:hidden;background:url(../images/login8.jpg) no-repeat center top;}
.ym1{overflow:hidden; margin:0 auto;}
.ym2{ width:850px; height:48px; padding-top:63px; margin:auto;}

.ym3{width:1050px;margin:auto;overflow:hidden;}
.ym4{ width:894px; height:498px; float:left; margin-top:41px;}

.ym55{  overflow:hidden;float:right;padding-bottom:40px; }

.ym5{ width:436px; height:367px; background:url(../images/login8_09.jpg) no-repeat left top;margin-top:103px; }

.ym6{ width:162px; height:23px; margin-left:28px; padding-top:40px;}

.ym7{ width:365px; height:107px; background:url(../images/login8_13.jpg) no-repeat; margin-top:42px; margin-left:28px; color:#555555;}
.ym7 input{ height:45px; line-height:50px; width:300px; border:none; color:#c4c4c4;}
.ym8{ width:365px; margin-left:28px; line-height:15px; height:15px; margin-top:18px;}
.ym9{ width:100px; height:15px; float:left;}
.ym10{ width:55px; height:15px; float: right; color:#007318}

.ym11{ width:365px; margin-left:28px; height:50px; margin-top:28px;}
.ym12{ width:172px; height:50px; float:left; cursor:pointer;}

.ym13{ width:172px; height:50px; float: right; cursor:pointer;}

.ym14{ width:225px; height:50px; margin-top:20px; margin-left:165px;}

