<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keepjob.core.webtemplate.WebTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.keepjob.core.webtemplate.WebTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="unique_code" property="uniqueCode" jdbcType="VARCHAR" />
    <result column="memu_font_color" property="memuFontColor" jdbcType="VARCHAR" />
    <result column="memu_color" property="memuColor" jdbcType="VARCHAR" />
    <result column="cover_images_a" property="coverImagesA" jdbcType="VARCHAR" />
    <result column="cover_images_b" property="coverImagesB" jdbcType="VARCHAR" />
    <result column="cover_images_c" property="coverImagesC" jdbcType="VARCHAR" />
    <result column="cover_images_d" property="coverImagesD" jdbcType="VARCHAR" />
    <result column="cover_images_e" property="coverImagesE" jdbcType="VARCHAR" />
    <result column="cover_title_a" property="coverTitleA" jdbcType="VARCHAR" />
    <result column="cover_title_b" property="coverTitleB" jdbcType="VARCHAR" />
    <result column="cover_title_c" property="coverTitleC" jdbcType="VARCHAR" />
    <result column="cover_title_d" property="coverTitleD" jdbcType="VARCHAR" />
    <result column="cover_title_e" property="coverTitleE" jdbcType="VARCHAR" />
    <result column="cover_remark_a" property="coverRemarkA" jdbcType="VARCHAR" />
    <result column="cover_remark_b" property="coverRemarkB" jdbcType="VARCHAR" />
    <result column="cover_remark_c" property="coverRemarkC" jdbcType="VARCHAR" />
    <result column="cover_remark_d" property="coverRemarkD" jdbcType="VARCHAR" />
    <result column="cover_remark_e" property="coverRemarkE" jdbcType="VARCHAR" />
    <result column="explain_title" property="explainTitle" jdbcType="VARCHAR" />
    <result column="introduction_font_color" property="introductionFontColor" jdbcType="VARCHAR" />
    <result column="introduction_color" property="introductionColor" jdbcType="VARCHAR" />
    <result column="introduction_images" property="introductionImages" jdbcType="VARCHAR" />
    <result column="introduction_title" property="introductionTitle" jdbcType="VARCHAR" />
    <result column="QRcode" property="qrcode" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="footer_color" property="footerColor" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="creater_code" property="createrCode" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="model_type" property="modelType" jdbcType="CHAR" />
    <result column="explain_content" property="explainContent" jdbcType="LONGVARCHAR" />
    <result column="introduction_content" property="introductionContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, unique_code, memu_font_color, memu_color, cover_images_a, cover_images_b, cover_images_c, 
    cover_images_d, cover_images_e, cover_title_a, cover_title_b, cover_title_c, cover_title_d, 
    cover_title_e, cover_remark_a, cover_remark_b, cover_remark_c, cover_remark_d, cover_remark_e, 
    explain_title, introduction_font_color, introduction_color, introduction_images, 
    introduction_title, QRcode, address, email, phone, mobile_phone, footer_color, creater, 
    creater_code, create_date, update_date, status, model_type,explain_content, introduction_content
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.keepjob.common.mybatis.MyBatisCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from keepjob_web_template_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from keepjob_web_template_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from keepjob_web_template_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.keepjob.common.mybatis.MyBatisCriteria" >
    delete from keepjob_web_template_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.keepjob.core.webtemplate.WebTemplate" >
    insert into keepjob_web_template_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uniqueCode != null" >
        unique_code,
      </if>
      <if test="memuFontColor != null" >
        memu_font_color,
      </if>
      <if test="memuColor != null" >
        memu_color,
      </if>
      <if test="coverImagesA != null" >
        cover_images_a,
      </if>
      <if test="coverImagesB != null" >
        cover_images_b,
      </if>
      <if test="coverImagesC != null" >
        cover_images_c,
      </if>
      <if test="coverImagesD != null" >
        cover_images_d,
      </if>
      <if test="coverImagesE != null" >
        cover_images_e,
      </if>
      <if test="coverTitleA != null" >
        cover_title_a,
      </if>
      <if test="coverTitleB != null" >
        cover_title_b,
      </if>
      <if test="coverTitleC != null" >
        cover_title_c,
      </if>
      <if test="coverTitleD != null" >
        cover_title_d,
      </if>
      <if test="coverTitleE != null" >
        cover_title_e,
      </if>
      <if test="coverRemarkA != null" >
        cover_remark_a,
      </if>
      <if test="coverRemarkB != null" >
        cover_remark_b,
      </if>
      <if test="coverRemarkC != null" >
        cover_remark_c,
      </if>
      <if test="coverRemarkD != null" >
        cover_remark_d,
      </if>
      <if test="coverRemarkE != null" >
        cover_remark_e,
      </if>
      <if test="explainTitle != null" >
        explain_title,
      </if>
      <if test="introductionFontColor != null" >
        introduction_font_color,
      </if>
      <if test="introductionColor != null" >
        introduction_color,
      </if>
      <if test="introductionImages != null" >
        introduction_images,
      </if>
      <if test="introductionTitle != null" >
        introduction_title,
      </if>
      <if test="qrcode != null" >
        QRcode,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="footerColor != null" >
        footer_color,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createrCode != null" >
        creater_code,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="modelType != null" >
        model_type,
      </if>
      <if test="explainContent != null" >
        explain_content,
      </if>
      <if test="introductionContent != null" >
        introduction_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uniqueCode != null" >
        #{uniqueCode,jdbcType=VARCHAR},
      </if>
      <if test="memuFontColor != null" >
        #{memuFontColor,jdbcType=VARCHAR},
      </if>
      <if test="memuColor != null" >
        #{memuColor,jdbcType=VARCHAR},
      </if>
      <if test="coverImagesA != null" >
        #{coverImagesA,jdbcType=VARCHAR},
      </if>
      <if test="coverImagesB != null" >
        #{coverImagesB,jdbcType=VARCHAR},
      </if>
      <if test="coverImagesC != null" >
        #{coverImagesC,jdbcType=VARCHAR},
      </if>
      <if test="coverImagesD != null" >
        #{coverImagesD,jdbcType=VARCHAR},
      </if>
      <if test="coverImagesE != null" >
        #{coverImagesE,jdbcType=VARCHAR},
      </if>
      <if test="coverTitleA != null" >
        #{coverTitleA,jdbcType=VARCHAR},
      </if>
      <if test="coverTitleB != null" >
        #{coverTitleB,jdbcType=VARCHAR},
      </if>
      <if test="coverTitleC != null" >
        #{coverTitleC,jdbcType=VARCHAR},
      </if>
      <if test="coverTitleD != null" >
        #{coverTitleD,jdbcType=VARCHAR},
      </if>
      <if test="coverTitleE != null" >
        #{coverTitleE,jdbcType=VARCHAR},
      </if>
      <if test="coverRemarkA != null" >
        #{coverRemarkA,jdbcType=VARCHAR},
      </if>
      <if test="coverRemarkB != null" >
        #{coverRemarkB,jdbcType=VARCHAR},
      </if>
      <if test="coverRemarkC != null" >
        #{coverRemarkC,jdbcType=VARCHAR},
      </if>
      <if test="coverRemarkD != null" >
        #{coverRemarkD,jdbcType=VARCHAR},
      </if>
      <if test="coverRemarkE != null" >
        #{coverRemarkE,jdbcType=VARCHAR},
      </if>
      <if test="explainTitle != null" >
        #{explainTitle,jdbcType=VARCHAR},
      </if>
      <if test="introductionFontColor != null" >
        #{introductionFontColor,jdbcType=VARCHAR},
      </if>
      <if test="introductionColor != null" >
        #{introductionColor,jdbcType=VARCHAR},
      </if>
      <if test="introductionImages != null" >
        #{introductionImages,jdbcType=VARCHAR},
      </if>
      <if test="introductionTitle != null" >
        #{introductionTitle,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="footerColor != null" >
        #{footerColor,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createrCode != null" >
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="modelType != null" >
        #{modelType,jdbcType=CHAR},
      </if>
      <if test="explainContent != null" >
        #{explainContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="introductionContent != null" >
        #{introductionContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.keepjob.common.mybatis.MyBatisCriteria" resultType="java.lang.Integer" >
    select count(1) from keepjob_web_template_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKey" parameterType="com.keepjob.core.webtemplate.WebTemplate" >
    update keepjob_web_template_info
    <set >
      <if test="uniqueCode != null" >
        unique_code = #{uniqueCode,jdbcType=VARCHAR},
      </if>
      <if test="memuFontColor != null" >
        memu_font_color = #{memuFontColor,jdbcType=VARCHAR},
      </if>
      <if test="memuColor != null" >
        memu_color = #{memuColor,jdbcType=VARCHAR},
      </if>
      <if test="coverImagesA != null" >
        cover_images_a = #{coverImagesA,jdbcType=VARCHAR},
      </if>
      <if test="coverImagesB != null" >
        cover_images_b = #{coverImagesB,jdbcType=VARCHAR},
      </if>
      <if test="coverImagesC != null" >
        cover_images_c = #{coverImagesC,jdbcType=VARCHAR},
      </if>
      <if test="coverImagesD != null" >
        cover_images_d = #{coverImagesD,jdbcType=VARCHAR},
      </if>
      <if test="coverImagesE != null" >
        cover_images_e = #{coverImagesE,jdbcType=VARCHAR},
      </if>
      <if test="coverTitleA != null" >
        cover_title_a = #{coverTitleA,jdbcType=VARCHAR},
      </if>
      <if test="coverTitleB != null" >
        cover_title_b = #{coverTitleB,jdbcType=VARCHAR},
      </if>
      <if test="coverTitleC != null" >
        cover_title_c = #{coverTitleC,jdbcType=VARCHAR},
      </if>
      <if test="coverTitleD != null" >
        cover_title_d = #{coverTitleD,jdbcType=VARCHAR},
      </if>
      <if test="coverTitleE != null" >
        cover_title_e = #{coverTitleE,jdbcType=VARCHAR},
      </if>
      <if test="coverRemarkA != null" >
        cover_remark_a = #{coverRemarkA,jdbcType=VARCHAR},
      </if>
      <if test="coverRemarkB != null" >
        cover_remark_b = #{coverRemarkB,jdbcType=VARCHAR},
      </if>
      <if test="coverRemarkC != null" >
        cover_remark_c = #{coverRemarkC,jdbcType=VARCHAR},
      </if>
      <if test="coverRemarkD != null" >
        cover_remark_d = #{coverRemarkD,jdbcType=VARCHAR},
      </if>
      <if test="coverRemarkE != null" >
        cover_remark_e = #{coverRemarkE,jdbcType=VARCHAR},
      </if>
      <if test="explainTitle != null" >
        explain_title = #{explainTitle,jdbcType=VARCHAR},
      </if>
      <if test="introductionFontColor != null" >
        introduction_font_color = #{introductionFontColor,jdbcType=VARCHAR},
      </if>
      <if test="introductionColor != null" >
        introduction_color = #{introductionColor,jdbcType=VARCHAR},
      </if>
      <if test="introductionImages != null" >
        introduction_images = #{introductionImages,jdbcType=VARCHAR},
      </if>
      <if test="introductionTitle != null" >
        introduction_title = #{introductionTitle,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        QRcode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="footerColor != null" >
        footer_color = #{footerColor,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createrCode != null" >
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="modelType != null" >
        model_type = #{modelType,jdbcType=CHAR},
      </if>
      <if test="explainContent != null" >
        explain_content = #{explainContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="introductionContent != null" >
        introduction_content = #{introductionContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>